<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
		var testApp = angular.module('testApp', []);
		testApp.controller('testCtrl', function($scope){
			$scope.name = "helen";

			$scope.$watch('age', function(newval, oldval){
				console.log('new value is ' + newval);
				$scope.towatch = newval;
			});
			setTimeout(function(){
				$scope.age = 90;
			}, 1000);
			$scope.age = "20";
		});
	</script>
</head>
<body ng-controller="testCtrl">
	Name:<input ng-model="name" type="text"/><br />
	Age:<input ng-model="age" type="text" /><br />
    Hello {{ name }}, your age is {{ age }} !

    <br />
    scope watch : {{ towatch }}
</body>
</html>