<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
		var testApp = angular.module('testApp', []);
		testApp.controller('testCtrl', function($scope){
			$scope.names = ['Helen', 'Dean', 'John', 'Ryan', 'Mark'];

			$scope.addName = function() {
				$scope.names.push($scope.newName);
				$scope.newName = '';
			};

			$scope.removeName = function(name) {
				var i = $scope.names.indexOf(name);
				$scope.names.splice(i, 1);
				/*http://www.w3schools.com/jsref/jsref_splice.asp*/
			};
		});
	</script>
</head>
<body ng-controller="testCtrl">
	<ul>
		<li ng-repeat="name in names">
			{{ name }}
			<a href="#" ng-click="removeName(name)">Remove</a>
		</li>
	</ul>
	<form ng-submit="addName()">
		<input type="text" ng-model="newName" />
		<input type="submit" value="add" />
	</form>
</body>
</html>